body{

}

/*NAV de la page*/

nav{
    background-color:white;
    display: flex;                 
    justify-content: space-between; 
    align-items: center;           
    padding: 10px 20px;
    height: 100px;
    
}

/*Le LOGO*/
   
.logo a img{
  display: flex;
  height: 300px;
  width: auto;
}

/*MENU de la NAV*/
ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  color: black;
  gap: 70px;
  padding: 0;
  margin: 50px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/*BOUTON CONTACT*/

.contact-btn{
  background-color: #2e2525;
  padding: 15px 10px;
  color: white;
}


nav .btn-contact a{
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    text-decoration: none;
}

.btn-contact a:hover{
  background-color: #0056b3;


}
/*HEADER de la page*/


/*HERO de la page*/
.hero-left {
  width: 50%;
  height: 91.9%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebe6e6;
}

/* CONTENU CENTRÉ */
.hero {
  display: flex;
  height: 100vh;
  
}

.hero-content {
  text-align: center;
  max-width: 400px;
  
 
}

.hero-content h1 {
  margin-bottom: 20px;
  font-size:60px
}

.hero-content p {
  margin-bottom: 20px;
  font-size: 30px;
}

/* BOUTONS */
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  
}

.primary {
  background: black;
  color: white;
  font-size: 20px;
  
}

.secondary {
  background: gray;
  color: white;
  font-size: 20px;
}

.primary:hover{
  
  background-color: #0056b3;
}

.secondary:hover {
  background-color: #0056b3;
}


/* DROITE (IMAGE) */
.hero-right {
  
  width: 50%;
  height: 600px;
  background-image:url("fond-img.jpg");
  background-size: cover;
  background-position: center;
}





/* SECTION VALEURS*/

.valeurs {
  padding: 80px 20px;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: auto;

}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.intro {
  max-width: 700px;
  margin: 0 auto 60px;
  color: #666;
  line-height: 1.6;
}
/* SECTION VALEURS (IMAGES)*/

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.images {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 20px;
}


.img-large {
  width: 200px;
  height: 100px;
}

.img-small {
  width: 170px;
  height: 220px;
}

.img-wide {
  
  width: 200px;
  height: 100px;
}

/* COTE DROIT (TEXTES) */
.text {
  text-align: left;
  max-width: 500px;

}

.text ul {
  
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  flex-direction: column;
   
}


/* BOUTON*/
.btn6 {
  background: #111;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  
}


button:hover{

    background-color: #3612b7;

}















/*SERVICES*/

.services {
  background-color: #f5f5f5;
  padding: 60px 20px;
  text-align: center;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #100202;
}


.services-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/*SERVICES CARDS*/

.card {
  background-color: #e4dddd;
  width: 300px;
  text-align: center;
}


.card img a{
  width: 300px;
  height: 200px;
  padding: 0auto;
}


.card h3 {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  text-align: center;
}

.card p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
  text-align: center;
}

/*SERVICES BOUTONS*/
.lire-btn {
  display: flex;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #111;
  color: #fff;
  height: 20px;
  width: 20%;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  align-items: center;
  justify-self: center;
}



.lire-btn:hover {
  background-color: #3612b7;
}









/* SECTION REALISATIONS */


.realisations{
  
  padding: 80px 20px;
  
}

.bande {
    padding: 80px 20px;
    
}


h2.titre-principal {
  align-items: center;  
  margin-bottom: 20px;
  display:flex ;
  text-align: center;
  justify-content: center;
}

/* Couleurs alternées */
.bande:nth-child(odd) {
    background-color: #ffffff;
}

.bande:nth-child(even) {
    background-color: #f2f2f2;
    
}

.contenu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

/* inversion image/texte */


.contenu-inverse {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-direction: row-reverse;
}

.texte h3 p  {
    margin-bottom: 20px;
    font-size: 28px;
    flex: 1;
}

.texte p {
    line-height: 1.6;
    text-align: justify;
}

img {
    flex: 1;
    max-width: 400px;
    width: 100%;
    height: auto;
}



.texte2 h3 p{
  display: flex;
  margin-bottom: 20px;
    font-size: 28px;
    flex: 1;
    line-height: 1.6;
    text-align: justify;

}

/* Responsive */
@media (max-width: 768px) {
    .contenu {
        flex-direction: row;
        text-align: center;
        display: flex;
    }

    .contenu-inverse {
        flex-direction: row-reverse;
    }

    img {
        max-width: 100%;
    }
}




/* SECTION TEMOIGNAGES */
.testimonials {
  text-align: center;
  padding: 80px 20px;
  height: 400px;
}

.testimonials h2 {
  font-size: 32px;
  margin-bottom: 50px;
  color: #333;
}

.testimonial-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


/* CARDS */
.cards {
  display: flex;
  gap: 30px;
}

.card {
  background: #edeaea;
  padding: 25px;
  width: 350px;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.card p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;   /* rend le cercle */
  object-fit: cover;    /* évite que l’image soit déformée */
  object-position: center;
}

.user strong {
  display: block;
  font-size: 14px;
  color: #222;
}

.user span {
  font-size: 12px;
  color: #888;
}

.nav {
  background: #eee9e9;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.nav:hover {
  background: #ddd;
}
/* FOOTER */

footer {
  background-color: #e3dede;
  padding: 150px 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


  /* PARTIE GAUCHE */

.footer-left h2{
  font-size: 40px;
  white-space: nowrap;
}

.footer-left p {
  display: flex;
  font-size: 20px;
   
}

.footer-left {
  max-width: 480px;
}


.socials a img {
  
  width: 30px;
  height: 30px;
  padding: 20px;
  gap:30px
}



/* PARTIE DROITE */
.right {
    width: 500px;
}

.form-field {
    display: block;
    background: #f1efef;
    height: 20px;

    padding: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #130707;
  
}



/* BOUTON */

.button {
    display: inline-block;
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 25%;
    font-weight: bold;
}

.button:hover {
  background-color: #0056b3;
}